.custom-select {
	position: relative;

	letter-spacing: 0.7px;
	text-transform: uppercase;;
	}

.custom-select select {
	display: none;
	}

.select-selected {
	background-color: transparent;
	&:hover{
		box-shadow: 1px 1.7px 6px 0 rgba(139, 157, 175, 0.1);
		}
	}

.select-selected:after {
	position: absolute;
	top: 50%;
	right: 10px;

	width: 0;
	height: 0;

	content: "";
	transform: translateY(calc(-50% + 3px));

	border: 6px solid transparent;
	border-color: rgba(0, 0, 0, 0.1) transparent transparent transparent;
	}

.select-selected.select-arrow-active:after {
	transform: translateY(calc(-50% - 3px));

	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;

	}

.select-selected.select-arrow-active, .select-items div:not(:last-child){
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}
.select-items div,.select-selected {
	padding: 8px 16px;

	cursor: pointer;

	color: rgb(55, 71, 79);
	box-shadow: 1px 1.7px 6px 0 rgba(139, 157, 175, 0.1);
	}
.select-items {
	position: absolute;
	z-index: 99;
	top: 100%;
	right: 0;
	left: 0;

	background-color: #fff;
	}

.select-hide {
	display: none;
	}

.select-items div:hover, .same-as-selected {
	background-color: rgba(0, 0, 0, 0.05);
	}
