.analytic
  - let testVariables = 'analytic__sidebar';
    include ./../../components/Sidebar/Sidebar
  .analytic__content
    .container
      .analytic__title
        p
          span Hi Filip,
        p Checkout your latest projects and their progress
      .analytic__line
      .analytic__inner
        .analytic__innerTitleBox
          .analytic__chartTitle
            span Wavy Lines
            | Working Hours
          include ./../../components/Select/Select
        .analytic__chart-box
          include ./../../components/Charts/Chart-line/Chart-line
      .analytic__row-box
        .analytic__inner
          .analytic__chart-box
            include ./../../components/Charts/Chart-doughnut/Chart-doughnut
        .analytic__inner
          .analytic__chart-box
            include ./../../components/Charts/Chart-horizontal/Chart-horizontal
