.page
  - let testVariables = 'page__sidebar';
    include ./../../components/Sidebar/Sidebar
  .page__content
    .container
      .page__title
        p
          span Hi Filip,
        p Checkout your latest projects and their progress
      .page__line
      .page__inner
        .page__innerTitleBox
          .page__chartTitle
            span Wavy Lines
            | Working Hours
          include ./../../components/Select/Select
        .page__chart-box
          include ./../../components/Charts/Chart-line/Chart-line
      .page__row-box
        .page__inner
          .page__chart-box
            include ./../../components/Charts/Chart-doughnut/Chart-doughnut
        .page__inner
          .page__chart-box
            include ./../../components/Charts/Chart-horizontal/Chart-horizontal
