@font-face {
	font-family: "AvenirNextLTPro";
	font-weight: normal;
	font-style: normal;

	src:
	local("AvenirNextLTPro"),
	local("Avenir Next LT Pro"),
	url("./../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
	}
